# Python Cache
__pycache__

# VS Code folder
.vscode/
*.bak

# Rex Repository
.rex/
.vs/
.ninja/

rex.ninja
rex.sln

build/sharpmake/.ninja/
build/sharpmake/bin/
build/sharpmake/obj/

source/0_thirdparty
*.nsln
source/1_engine/rex_engine/include/rex_engine/memory/memory_tags.h
source/1_engine/rex_engine/include/rex_engine/filesystem/mount_roots.h
