[submodule "src/extern/spdlog"]
	path = src/extern/spdlog
	url = https://github.com/Dyronix/spdlog.git
	branch = rex_spdlog
[submodule "src/extern/glew"]
	path = src/extern/glew
	url = https://github.com/Dyronix/glew.git
	branch = rex_glew
[submodule "src/extern/imgui"]
	path = src/extern/imgui
	url = https://github.com/Dyronix/imgui.git
	branch = rex_imgui
[submodule "src/extern/glm"]
	path = src/extern/glm
	url = https://github.com/Dyronix/glm.git
